*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a { color: inherit; text-decoration: none;}
ul,li{
  list-style: none;
}
html,body{
  height: 100%;
  font-family: "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB","Source Han Sans CN","Helvetica Neue", Arial, 'STHeiti',  "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC",  "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  background: #fff;
  line-height: 1.5;
}
.pageWrapper{
  height: 100%;
}
.aside{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: #000;
  /* border: 1px solid red; */
  z-index: 99;
  transition: height 0.2s ease 0.1s;
}
.aside.active{
  height: 360px;
}
.aside .myResume{
  display: inline-block;
  font-size: 22px;
  font-weight: 800;
  position: fixed;
  left: 28px;
  top: 36px;
  transform: translateY(-50%);
  color: #fff;
}
.mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  transition: all 0.2s ease;
}
.mask.active{
  background: rgba(0,0,0,0.1);
  z-index: 1;
}
.aside button{
  position: absolute;
  right: 11px;
  top: 36px;
  transform: translateY(-50%);
  margin-top: 2px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.aside ul{
  display: none;
  opacity: 0;
  padding: 0 44px;
  margin-top: 32px;
  position: fixed;
  top: 52px;
}
.aside ul.active{
  display: block;
  /* opacity: 1;
  margin-top: 32px; */
  animation: 0.3s ease 0.2s forwards navMove;
}
@keyframes navMove{
  0%{
    opacity: 0;
    margin-top: 48px;
  }
  100%{
    opacity: 1;
    margin-top: 32px;
  }
}

.aside li{
  margin: 24px 0;
}
.aside .nav-item{
  font-size: 22px;
  line-height: 22px;
  font-weight: 300;
  color: #888;
  display: flex;
  align-items: flex-end;
  transition: all 0.2s;
}
.aside .nav-item:hover{
  color: #fff;
}
.aside .nav-item::before{
  content: '';
  display: block;
  position: absolute;
  background: #000;
  height: 1px;
  width: 0px;
  left: -44px;
  top: 11px;
}
.aside .nav-item.active{
  color: #fff;
  position: relative;
}
.aside .nav-item.active::before{
  content: '';
  display: block;
  position: absolute;
  background: #fff;
  height: 1px;
  width: 26px;
  left: -44px;
  top: 11px;
  transition: width 0.2s ease-out;
}
.aside .nav-item .en{
  font-size: 14px;
  line-height: 14px;
  margin-left: 0.4em;
}
.aside .footer{
  display: flex;
}
.aside .footerContainer{
  position: fixed;
  top: 310px;
  left: 32px;
  display: none;
  opacity: 0;
}
.aside .footerContainer.active{
  display: block;
  animation: 0.2s ease 0.3s forwards moveFooterIcon;
}
@keyframes moveFooterIcon{
  0%{
    opacity: 0;
    top: 326px;
  }
  100%{
    opacity: 1;
    top: 310px;
  }
}
.aside .footer .iconBook{
  font-size: 1.1em;
  color: #fff;
  line-height: 40px;
}
.aside .footer .iconGit{
  font-size: 1.3em;
  margin-left: 1em;
  color: #fff;
  line-height: 40px;
  text-align: center;
  margin-top: -1px;
}

.aboutMe.visible{
  display: block;
}
.aboutMe{
  display: none;
  /* border: 1px solid red; */
  padding: 28px;
  height: 100%;
  
}
.aboutMe .container{
  display: flex;
  flex-direction: column-reverse;
  padding: 40px 0;
  margin-top: 24px;
}
.aboutMe .welcome{
  display: inline-block;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 300;
  background: #000;
  color: #fff;
  border-radius: 2px;
  position: relative;
}
.aboutMe .welcome::after{
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 4px;
  border-right: 10px solid transparent;
  border-top: 8px solid #000;
}
.aboutMe .container h1{
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 28px;
}
.aboutMe .container .selfIntroduction{
  width: 100%;
}
.aboutMe .container p{
  font-size: 16px;
  font-weight: 300;
  color: #666;
  margin-top: 12px;
}
.aboutMe .container hr{
  height: 0;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-top: 24px;
}
.aboutMe ul{
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin-top: 24px;
}
.aboutMe li{
  margin: 8px 0;
  display: flex;
}
.aboutMe .age,.aboutMe .sex,.aboutMe .position,
.aboutMe .education,.aboutMe .work,
.aboutMe .city{
  white-space: nowrap;
  margin-right: 24px;
  width: 4.5em;
  text-align: right;
}
.aboutMe span{
  display: inline-block;
}
.aboutMe img{
  max-width: 100%;
  max-height: 100%;
}
.aboutMe .picture{
  display: none;
  flex: 1 1 50%;
  text-align: center;
  margin-top: 32px;
}

/* .aboutMe .picture:hover{
  box-shadow: 0 20px 28px -10px rgba(0, 0, 0, .44);
} */
.portfolio.visible,
.skills.visible,
.contact.visible{
 display: block;
}
.portfolio,
.skills,
.contact{
  /* border: 1px solid red; */
  display: none;
  padding: 0 28px;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.portfolio .container,
.skills .container,
.contact .container{
  height: 100%;
  /* border: 1px solid red; */
  padding: 96px 0;
}
.portfolio h1,
.skills h1,
.contact h1{
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
}
.portfolio .itemDetail{
  display: flex;
  flex-direction: column-reverse;
}
.portfolio .itemDecription{
  color: #888;
}
.item .itemHeader{
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 28px 0;
}
.item hr{
  flex: 1;
  height: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-left: 12px;
}
.item .itemName{
  font-weight: 400;
}
.item .image{
  flex: 1;
}
.item img:hover{
  /* box-shadow: 0 20px 28px -10px rgba(0, 0, 0, .44); */
}
.item .Introduction{
  flex: 1;
  font-weight: 300;
  width: 100%;
  margin-top: 16px;
  margin-right: 0;
}
.item .strong{
  font-weight: 400;
}
.item h2{
  font-weight: 400;
  margin-bottom: 16px;
}
.item p{
  margin: 12px 0;
  letter-spacing: 0;
  line-height: 26px;
}
.item img{
  max-width: 100%;
  max-height: 100%;
}
.item .button span{
  margin: 16px 0;
  font-weight: 400;
  display: inline-block;
  padding: 4px 12px;
  border: 1px solid #000;
  border-radius: 2px;
}
.item .button span:hover{
  /* color: #fff;
  background: #000; */
}
.item .button .github{
  margin-left: 8px;
}
.skills .skillsWrapper{
  margin-top: 20px;
}
.skills ul{
  display: flex;
  flex-direction: column;
}
.skills ul li{
  flex: 1 0 45%;
  margin: 12px 0;
  align-items: center;
  margin-right: 5%;
}
.skills ul li:nth-child(even){
  margin-right: 0;
}
.skills h3{
  font-size: 18px;
  font-weight: 400;
}

.skills li p{
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0;
  line-height: 26px;
  margin-top: 4px;
}
.contact .container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact h1{
  color: #b4b5b4;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  margin-bottom: 33px;
}
.contact h1::after{
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: #ddd;
  position: absolute;
  margin-top: 8px;
}
.contact .information{
  font-size: 20px;
  font-weight: 300;
}
.contact .fa-envelope{
  font-size: 1em;
  color: #fff;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  background: #b4b5b4;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}
.contact .fa-qq{
  font-size: 1.1em;
  color: #fff;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  background: #b4b5b4;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}
.contact .fa-weixin{
  font-size: 1.12em;
  color: #fff;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  background: #b4b5b4;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}
.contact .contentWrapper div{
  display: flex;
  align-items: center;
  margin: 14px 0;
}