*{padding: 0; margin: 0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}

html,body{
  font-family: "PingFang SC",  "Hiragino Sans GB","Source Han Sans CN","Helvetica Neue", Arial, 'STHeiti', "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC",  "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  /* background: #fbfbfb; */
  line-height: 1.5;
  font-size: 14px;
  background: #f5f5f5;
}
ul,li{
  list-style: none;
}
a{text-decoration: none;}

.page{
  /* padding: 32px; */
}

/*  header */ 

header {
  display: flex;
  align-items: flex-start;
  background: #000;
  padding: 20px 20px;
  color: #fff;
  position: relative;
  padding-top: 80px;
}
header::before{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../img/head-bg.jpg');
  /* height: 200px; */
  background-position: center center;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(4px);
}
header .seperation{
  height: 204px;
  width: 1px;
  background: #444;
  margin: 0 20px;
  z-index: 1;
}
.resumeOnline{
  font-size: 9px;
  padding: 10px;
  position: absolute;
  /* background: #333; */
  color: #fff;
  top: 16px;
  /* z-index: 2; */
  /* left: 20px; */
  /* transform: translateX(-50%); */
}
/* .resumeOnline::after{
  content: '';
  display: block;
  position: absolute;
  height: 12px;
  width: 4px;
  background: #000;
  top: 3px;
  left: -10px;
} */
footer a,
.resumeOnline a{
  font-size: 9px;
  color: #38c9e5;
}
header .picture{
  height: 88px;
  width: 88px;
  border-radius: 50%;
  /* background: #333; */
  position: relative;
  background-image: url('./img/user.jpg');
  background-position: center center;
  background-size: cover;
}
header .picture::after{
  content: '';
  display: block;
  position: absolute;
  height: 96px;
  width: 96px;
  border: 1px solid #555;
  border-radius: 50%;
  left: -4px;
  top: -4px;
}

header .wrapper{
  /* font-weight: 300; */
  display: flex;
  z-index: 1;
}
header .contentWrapper{
  margin-left: 28px;
}
header .contentWrapper .type{
  display: inline-block;
  width: 5em;
  text-align: right;
  margin-right: 12px;
  white-space: nowrap;
  flex-shrink: 0;
}
header .contentWrapper .aboutMe{
  font-size: 10px;
  margin-top: 10px;
  position: relative;
  padding-top: 8px;
  color: #fff;
}
header .contentWrapper .aboutMe::after{
  content: '';
  display: block;
  height: 1px;
  top: -2px;
  width: 100%;
  background: #444;
  position: absolute;
}
header .contentWrapper .aboutMe li{
  margin-bottom: 8px;
  display: flex;
}
header h1{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -2px;
}
header .introduction{
  display: inline-block;
  font-size: 10px;
}
header .contact{
  display: flex;
  flex-direction: column;
  z-index: 1;
}
header .contact a{
  color: #38c9e5;
}
header .contact span{
  font-size: 10px;
  display: inline-block;
  margin-right: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
header .contact span.github{
  margin-top: 64px;
}
header .contact i{
  height: 20px;
  width: 20px;
  /* background: #eee; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #eee;
  font-size: 9px;
  margin-right: 8px;
}
header .contact i.phone{
  padding-top: 1px;
}
header .contact i.wechat,
header .contact i.github{
  font-size: 12px;
}

/* main */

main {
  padding: 20px;
}
main .title{
  color: #333;
}
main .title .name{
  font-size: 15px;
  font-weight: 800;
  margin-left: 8px;
}
main .title .skill,
main .title .folder{
  font-size: 13px;
}
main .title .en{
  font-size: 12px;
  margin-left: 4px;
}
main .itemWrapper{
  padding-top: 20px;
}
/* main item */

/* main .portfolio{
  display: flex;
  align-items: flex-start;
} */
main .portfolio .title{
  display: flex;
  align-items: center;
}
main .portfolio .title span{
  display: inline-block;
  white-space: nowrap;
}
main .item{
  position: relative;
  background: #fff;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 16px;
  /* box-shadow: 0 0 14px rgba(0,0,0,0.1); */
}
main .canvasWrapper{
  padding-top: 16px;
  /* border: 1px solid red; */
  margin-top: 160px;
}
main .item.canvas{
  /* margin-top: 160px; */
}
/* main .item.minions{
  padding-top: 32px;
} */
/* main .item::after{
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  background: #eee;
  width: 100%;
  bottom: -14px;
} */
main .itemDetail{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
main .itemDetail .itemImg{
  flex: 1;
  /* width: 40%; */
  margin-left: 28px;
  
}
main .itemDetail .itemImg img{
  max-width: 100%;
  border-radius: 2px;
}
main .itemDetail .Introduction{
  width: 56%;
}
main .itemDetail h2{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}
main .itemDetail .itemInfo{
  margin-bottom: 16px;
}
main .itemDetail .itemInfo p{
  color: #666;
  line-height: 1em;
}
main .itemDetail p{
  font-size: 9px;
  margin: 10px 0;
}
main .itemDetail .button span{
  font-size: 9px;
  color: #38c9e5;
  position: relative;
}
main .itemDetail .button span.github{
  margin-left: 8px;
}
/* main .itemDetail .button span::after{
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #38c9e5;
  bottom: 0;
  margin-top: 2px;
} */

/*  main skills */
main .skills .title{
  margin: 20px 0 20px 0;
}
main .skills .skillsWrapper{
  padding: 20px;
  background: #fff;
}
main .skills ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
main .skills ul>li{
  flex: 1 0 45%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
main .skills ul>li .type{
  font-size: 12px;
  font-weight: 600;
  color: #000;
}
main .skills ul>li span{
  font-size: 9px;
  color: #666;
}

footer{
  font-size: 9px;
  margin-top: 180px;
  bottom: 20px;
  text-align: center;
  padding-bottom:10px;
}